:root {
  --black: #333;
  --white: #fff;
  --teal: #82d8d8;
  --purp: #524763;
}

body {
  background-color: var(--black);
}

.App-header {
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 5%;
}

.App-link {
  color: var(--teal);
}

.nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  background: var(--purp);
  z-index: 10;
}

.nav-wrapper a {
  display: block;
  text-align: left;
  font-size: 4rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease border;
  border-bottom: solid 4px transparent;
}

.nav-wrapper a:hover {
  border-bottom: solid 4px var(--teal);
}

.menu-button {
  appearance: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  background: transparent;
  border: none;
  z-index: 15;
}

.logo {
  width: 100px;
}
